@{
    ViewData["Title"] = "Home Page";
}
<style>
    .center {
        position: absolute;
        top: 10%;
    }
</style>

<div class="center">
    <h1 class="display-4"><b>Welcome</b></h1>
    <p>
        This solution contains all the given assesments completed in <b>Asp.Net Core MVC</b> application.
    </p>
    <p>
        Below are the list of API calls,<br /><br />

        <b>1. BookList By PAT in EF :-</b> This API call is used to get all the books list using EF query by Publisher, Author(last,first), Title sorting.<br />
        <b>2. BookList By AT in EF :-</b> This API call is used to get all the books list using EF query by Author(last,first), Title sorting.<br />
        <b>3. BookList By PAT in SP :-</b> This API call is used to get all the books list using Stored Procedure by Publisher, Author(last,first), Title sorting.<br />
        <b>4. BookList By AT in SP :-</b> This API call is used to get all the books list using Stored Procedure by Author(last,first), Title sorting.<br />
        <b>5. Total Price :-</b> This API call is used to get Total Price of the Books using EF query.<br />
        <b>6. Insert BookList :-</b> This API call is used to bulk insert Book List into database using EF query.<br />
    </p>
</div>
